<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--<add key="DBConnect" value="SBO-COMMON;admin;sap;123456;B1Server" />-->
    <!--<add key="DBConnect" value="SBO-COMMON;B1Server\SQLSERVER;sa;Sa12345;B1Server" />-->
    <!--<add key="DBConnect" value="TEST_HSukiGroup;manager;1234;admin;sap;123456;admin;2008" />-->
    <!--<add key="DBConnect" value="UAT_HSukiGroup;manager;P@ssw0rd;B1Server\SQLSERVER;sa;Sa12345;B1Server;2008" />-->
    <add key="DBConnect" value="UAT_HSukiGroup;manager;1234;DELL;sa;Pass@123;DELL;2008" />
    <!--<add key="DBConnect" value="UAT_HSukiGroup;manager;localhost;sa;Pass@123;169.254.178.231;2008" />-->
    <!--<add key="DBConnect" value="HSukiGroup;manager;1234;HMH-PC;sa;1234;HMH-PC;2008" />-->
    <add key="LogPath" value="E:\Abeo Projects\Suki\Web Order_new\SukiWEB.txt" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <webServices>
      <protocols>                                         
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" 
                  executionTimeout="1024000"
    maxRequestLength="999999"/>
        <identity impersonate="true" />
        <authentication mode="Forms" />
  </system.web>

  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
    <system.webServer>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
    <location path="Web.config">
        <system.webServer>
            <directoryBrowse showFlags="Date, Time, Size, Extension" />
        </system.webServer>
    </location>
 <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
    </system.webServer>
</configuration>